@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');
/* GENERALS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Fraunces', serif;
  // overflow-x: hidden;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

@import "writings";
@import "buttons";
@import "cards";
@import "accordion-menu";

@import "blocks/blocks";