// VARIABLES
$grey: #8e949d;
$card-bg: #f4f1eb;
$dark-cyan: #0e8784;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$dark-grey-blue: #333d4b;
// FONT-WEIGHTS
$font-900: 900;
$font-400: 400;
// HOVER-TIME
$hover-time: all 0.2s;